.line > * {
  display: inline-block;
}

.container {
  display: inline-block;
}

.square {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid black;
}

.square + .square {
  margin-left: 4px;
}

.square:nth-child(4) {
  margin-right: 16px;
}

.square--empty  {
  background-color: white;
}

.square--populated  {
  background-color: green;
}

.square--highest {
  background-color: goldenrod !important;
}

.counter {
  position: absolute;
  top: 16px;
  right: 60px;
}
